---
---

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

h2 {
    font-size: 1.3rem !important;
}
h3 {
    font-size: 1.2rem !important;
}

span.pubDate {
    font-size: 10px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #023e60 !important;
}

.nav-link {
    color: #fff;
    font-size: 1.3rem;
    &:hover{
        color: #ddd;
    }
}

.full-screen {
    margin: 1rem 0 1rem 0;
    padding: 1rem 0 1rem 0;
}

.full-screen-last {
    margin: 1rem 0 0 0;
    padding: 1rem 0 1rem 0;
}

footer {
    color: #fff;
    ol,ul {
        list-style-type: none;
        padding: 0 0 0 1rem;
        margin: 0;
    }
    a{
        color: #fff;
        &:hover{
            color: #ddd;
        }
    }
}